body {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin: auto;
  margin-block-start: 105px;
}

a {
  text-decoration: none;
}

.navbar-section {
  max-width: 1540px;
  margin: auto;
}

.navbar-input {
  color: var(--inactive-link, #fff);

  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.navbar-input li {
  display: inline-block;
}

.navbar-input li:not(:first-child) {
  margin-inline-start: 80px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: 33px;
  align-items: center;
}

nav button {
  width: 195px;
  height: 50px;
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 14px;
  box-shadow: 0px 0px 6.182px 0px rgba(255, 255, 255, 0.5) inset,
    0px 6.182px 18.546px 0px rgba(0, 0, 0, 0.06);

  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.095px;
  color: var(--accent-color);
}

/* main header */
.contextHeader {
  margin-block-start: 70px;
}

.tab_contextHeader {
  width: 221px;
  height: 47px;
  border-radius: 36px;
  background: var(--accent-color, #fff);
  text-align: center;
  color: #000;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--accent-color, #fff);
  font-family: Montserrat, sans-serif;
  max-width: 862px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-block-start: 42px;
}

.imageHeader {
  max-width: 438px;
}

.context-header {
  color: var(--accent-color, #fff);

  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 924px;
  margin-block-start: 34px;
}

.headerMain {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
}

.headerMain__button {
  display: flex;
  width: 273px;
  height: 72px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;

  border-radius: 20px;
  background: #8243ea;
  box-shadow: 0px 0px 6.182px 0px rgba(255, 255, 255, 0.5) inset,
    0px 6.182px 18.546px 0px rgba(0, 0, 0, 0.06);

  color: var(--accent-color, #fff);

  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 98.912px; /* 412.133% */
  letter-spacing: 0.12px;
}

.headerMain__linkStart {
  display: flex;
  align-items: center;
  gap: 18px;
}

.headerMain__linkStart p {
  color: var(--accent-color, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.container__howToStart {
  display: flex;
  margin-block-start: 57px;
  gap: 37px;
}
/**/
/* hts section */

.hts__section h2 {
  text-transform: uppercase;
  color: var(--accent-color, #fff);

  margin-block-start: 150px;
  font-family: "Golos Text", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 98.912px; /* 154.55% */
  letter-spacing: 0.32px;
  text-align: center;
}

.hts__section {
  max-width: 1600px;
  margin: auto;
}

.container__htsSection {
  margin-block-start: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.image__htsSection {
  width: 838px;
}

.context__htsSection {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.context__htsSection p {
  color: var(--accent-color, #fff);
  text-align: right;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 53px; /* 132.5% */
  width: 680px;
}

.context__htsSection button {
  color: var(--accent-color, #fff);
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.12px;

  display: flex;
  width: 326px;
  height: 86px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--main-color);
  box-shadow: 0px 0px 6.182px 0px rgba(255, 255, 255, 0.5) inset,
    0px 6.182px 18.546px 0px rgba(0, 0, 0, 0.06);

  outline: none;
  border: none;
  margin-block-start: 40px;
}

.step__htsSection {
  margin-block-start: 137px;

  display: flex;
  justify-content: center;
  gap: 143px;
}

.leftStep {
  color: var(--accent-color, #fff);

  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 138.889% */
  letter-spacing: 0.09px;
  max-width: 406px;
}

.leftStep span {
  color: var(--decoration-color, rgba(255, 255, 255, 0.31));
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.09px;
}

.rightStep {
  color: var(--accent-color, #fff);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 138.889% */
  letter-spacing: 0.09px;
  max-width: 392px;
}

.rightStep span {
  color: var(--link-color, #357aff);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.09px;
}

/**/

/* system section */

.box {
  width: 8px;
  height: 24px;
  background-color: var(--inactive-box);
}

.box-active {
  background-color: var(--accent-color);
}

.headerSystemBlock {
  display: flex;
  align-items: center;
  gap: 13px;
}

.boxes__container {
  display: flex;
  gap: 5px;
}

.system__section h3 {
  color: var(--accent-color, #fff);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 98.912px; /* 206.067% */
  letter-spacing: 0.24px;
  padding-block-start: 72px;
}

.system__section {
  margin-inline: auto;
  margin-block-start: 114px;
  background-color: var(--system-section);
  padding-block-end: 72px;
}

.container__systemSection {
  max-width: 1440px;
  margin-inline: auto;
}

.headerSystemBlock article {
  color: var(--accent-color, #fff);

  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.18px;
  text-transform: uppercase;
}

.system__li {
  color: var(--system-li);

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 170% */
}

.context__liSystem {
  margin-block-start: 20px;
}

.system__li span {
  color: var(--accent-color);
}

.gridTabs__system {
  display: grid;
  grid-template-columns: repeat(2, 615px);
  grid-template-rows: 287px 287px;
  column-gap: 233px;
  max-width: 100%;
  margin-inline: auto;
  flex-wrap: wrap;
  margin-block-start: 85px;
}

/* footer */

footer {
  background-image: url("../images/footer.jpg");
  background-position: bottom;
  background-size: cover;
}

.container__footer {
  padding-block: 50px;
  max-width: 1495px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__footer article {
  color: var(--accent-color, #fff);

  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-inline-start: 56px;
}

.container__footer ul {
  color: var(--decoration-color);

  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.list__rules li:not(:first-child),
.list__navFooter li:not(:first-child) {
  margin-block-start: 13px;
}

.pay__system {
  display: grid;
  grid-template-columns: repeat(2, 104px);
  grid-template-rows: repeat(2, 30px);
  row-gap: 26px;
  column-gap: 16px;
}
